* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1F2937;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
}

.header ul {
    display: flex;
    list-style: none;
    gap: 1.5em;
    color: #E5E7EB
}

.header p {
    font-weight: bold;
    font-size: 25px;
}

.headline {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1F2937;
    color: white;
}

.headline .welcome {
    height: 225px;
    width: 450px;
}

.headline .welcome .awesome {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.headline .welcome .subtext {
    margin: 0;
}

.headline .photo {
    height: 225px;
    width: 450px;
}

.headline .welcome button {
    background: #3882f6;
    border-radius: 10px;
    margin-top: 5px;
}

.section-two .section-two-title {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
}

.image-row {
    display: flex;
    justify-content: center;
    gap: 55px;
}

.image-row div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-row div img {
    height: 150px;
    width: 150px;
    border-radius: 10%;
}

.image-row div p {
    text-align: center;
    width: 150px;
    height: 150px;
}

.section-three {
    background-color: #E5E7EB;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

.section-three .quote-text {
    font-style: italic;
    width: 720px;
    text-align: left;
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 5px;
}

.section-three .quote-name {
    font-weight: bold;
    margin-top: 5px;
    width: 720px;
    text-align: end;
}

.section-four {
    background: #3882F6;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 25px;
    border-radius: 2%;
    color: white;
    padding-top: 0;
    padding-bottom: 0;
    width: 720px;
    height: 100px;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
}

.section-four button {
    align-self: center;
    background-color: transparent;
    color: white;
    border-radius: 10%;
    border-color: white;
    border-style: solid;
    padding: 5px;
    text-align: center;
}

.footer {
    display: flex;
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 10px;
    justify-content: center;
}